//main: main.scss
@media only screen and (max-width: 500px){

    .btn-piu-meno{
        padding: 10px 25px !important;
        font-size: 0.5em !important;
    }

    .btn-reset{
        
        height:50px !important;
        font-size: 0.5em !important;
    }
    

    footer{
        h5{           
            font-size: 0.7em;
        }
    }
}

//orizzontale 
@media only screen and (max-width: 1000px) and (orientation: landscape){

    .counter-titolo{
        font-size: 2.5em;
    }

    .btn-piu-meno{
        padding: 10px 25px !important;
        font-size: 0.7em !important;
    }

    .btn-reset{
    width:20%;
        height:50px !important;
        font-size: 0.5em !important;
    }
    

    footer{
        h5{           
            font-size: 0.7em;
        }
    }
}